@page
@model LoginModel

@{
    ViewData["Title"] = "Login";

}

@if (User.Identity.IsAuthenticated)
{
  Response.Redirect("/eBooks/eBookHome");
}
<style>
    li{
        list-style-type: none;
    }
</style>

<div class="login-container">
    <div class="login-user-container">
        <div class="enter-container">
            <a style="align-self:center" href="~/Home">
            <img alt="logo"
                 src="~/images/dwei-logo.png"
                 class="login-user-logo" />
                 </a>
            <h1 class="login-user-text"><span>Sign In</span></h1>
            <span class="login-user-description"><span>Use your account</span></span>
            <form id="account" method="post" class="enter-form">
                <div class="enter-input-label-container">
                    <label asp-for="Input.Email" class="enter-label"><span>Email</span></label>
                    <input id="username" asp-for="Input.Email" autocomplete="username" aria-required="true" type="text" placeholder="Email" class="input" />
                    <div class="register-user-error-container">
                        <svg viewBox="0 0 1024 1024" class="register-user-error-icon">
                            <path d="M512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125zM470 298h84v256h-84v-256zM470 640h84v86h-84v-86z"></path>
                        </svg>
                        <span class="register-user-error-text">Please complete email</span>
                    </div>
@*                     <div class="login-user-error-container">

                        <span asp-validation-for="Input.Email" class="login-user-error-text"></span>
                    </div> *@



                </div>
                <div class="login-user-password-container enter-input-label-container">
                    <label asp-for="Input.Password" class="enter-label"><span>Password</span></label>
                    <input id="password" asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" placeholder="Password" class="input" />

                    <div class="register-user-error-container">
                        <svg viewBox="0 0 1024 1024" class="register-user-error-icon">
                            <path d="M512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125zM470 298h84v256h-84v-256zM470 640h84v86h-84v-86z"></path>
                        </svg>
                        <span class="register-user-error-text">Please complete password</span>
                    </div>
                    @*                     <div class="login-user-error-container">
                    <span asp-validation-for="Input.Password" class="login-user-error-text"></span>
                    </div> *@
                </div>
                @if (Model.InvalidLogin)
                {
                    <div asp-validation-summary="ModelOnly" class="login-user-invalid-text" style="list-style-type:none !important"></div>
                }
                <div class="login-user-redirect-container enter-checkbox-container">
                    <a asp-area="Identity" asp-page="/Account/ForgotPassword">
                        <span class="login-user-redirect-text">
                            <span>Forget my password</span>
                        </span>
                    </a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        <span class="login-user-redirect-text">
                            <span>New user? Create an account</span>
                        </span>
                    </a>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">
                        <span class="login-user-redirect-text">
                            <span>Resend email confirmation</span>
                        </span>
                    </a>
                </div>
                <div class="login-user-submit-container">
                    <div class="login-user-remember-container enter-checkbox-container">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input asp-for="Input.RememberMe" type="checkbox" class="login-user-checkbox" />
                            <span class="login-user-remember-text">
                                <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                            </span>
                        </label>
                    </div>
                    <button id="login-submit" class="enter-button">
                        <span>Sign in</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    @Html.Partial("_FooterGuest")
</div>

<script>
    $(document).ready(function () {
        // Focus effect
        $("input, select").focusin(function () {
            $(this).prev("label.enter-label").css("color", "#3282E9");
        })
        $("input, select").focusout(function () {
            $(this).prev("label.enter-label").css("color", "var(--dl-color-gray-700)");
        })
        
        function showError(elementVariable) {
            $(elementVariable).prev("label.enter-label").addClass("error-label");
            $(elementVariable).addClass("error-input");
            $(elementVariable).next("div").css("display", "flex");
        }
        function hideError(elemeentVariable) {
            $(elemeentVariable).removeClass("error-input");
            $(elemeentVariable).prev("label").removeClass("error-label");
            $(elemeentVariable).next("div").css("display", "none");

        }
        function isValidEmail(email) {
            var emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            return emailPattern.test(email);
        }
        async function inputValidation(inputVariable) {
            var id_name = $(inputVariable).attr("id");
            var id_val = $(inputVariable).val();
            var inputValid = 1;

            if (id_name === "username") {
                if (id_val === "") {
                    $(inputVariable).next("div").find("span").text("Please complete the email address");
                    inputValid = 0;
                }
                else if (!isValidEmail(id_val)) {
                    $(inputVariable).next("div").find("span").text("Invalid email address format");
                    inputValid = 0;
                }
            }
            else if (id_name === "password") {
                if (id_val === "") {
                    inputValid = 0;
                    $(inputVariable).next("div").find("span").text("Please complete the password section");
                }
            }
            if (inputValid === 1) {
                //  console.log("hide error triggered");
                hideError(inputVariable);
                return true;
            }
            else if (inputValid === 0) {
                //  console.log("show error triggered");
                showError(inputVariable);
                return false;
            }





        }
        $("#login-submit").click(async function () {
            var input_is_filled = true;
            var input_list = $("input");

            for (let i = 0; i < input_list.length; i++) {
                const inputVariable = input_list[i];
                input_is_filled &= await inputValidation(inputVariable);
            }

            console.log("input ", input_is_filled);
            if (input_is_filled) {
                $("#account").submit();
            }
        })
    })
</script>

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
@* <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
