@page
@model FYP1.Pages.BookPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookPage[0].pageNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPage[0].pageLock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPage[0].Chapter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookPage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pageNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pageLock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter.chapterName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.bookPageID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.bookPageID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.bookPageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
