@page
@model FYP1.Pages.Chapters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].chapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].chapterNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chapter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.chapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chapterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book.background)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.chapterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.chapterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.chapterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
